@font-face {
    font-family: 'Amatic SC Bold';
    src: url(../font/AmaticSC-Bold.ttf);
}
.htmlBody {
    font-family: 'Amatic SC Bold';
}
.title {
    text-align: center;
    font-size: 40px;
    padding: 0;
}
.checkoutButton {
    margin: 10px;
    padding: 10px;
    background-color: #000000;
    color: white;
    border: 100px;
    border-color: beige;
    border-radius: 5px;
}

.checkOutButtonAndMessage {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px;
}

.checkOutButtonAndMessage p {
    margin: 10px;
    font-size: 25px;
}

.mainMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    flex-wrap: wrap;
}
.cartItemsHolder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    flex-wrap: wrap;
}
.itembox {
    display: flex;
    flex-direction: column;
    background-color: #3e3e3e21;
    margin: 3%;
    border-radius: 10px;
    max-width: 500px;
    min-width: 500px
}

.itembox h1 {
    padding-top: 10px;
    margin: auto;
    align-items: center;
}
.itembox img {
    width: 100px;
    height: 100px;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

.itemImgDetails {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border: 0px;
}

.itemDetails {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 0px;
}

.itemDetails p {
    margin: 5px;
}

.itemButton {
    margin: 10px;
    cursor: pointer;
}

.addCartButtonAndMessage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 0px;
}

#cartTitle {
    text-align: center;
    font-size: 45px;
    padding: 0;
    margin: 0px;
}

.checkoutForm {
    background-color: #888888;
    display: flex;
    flex-direction: row;
    border: 10px;
    border-radius: 20px;
    height: 550px;
}
.checkoutForm h1 {
    padding: 5px;
    margin: auto;
    align-items: center;
}

.checkoutForm input {
    height: 20px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}
.checkoutFormInput {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 50%;
}
.checkoutFormInput h1 {
    padding: 0;
    margin: 0 auto;
    align-items: center;
}
.checkoutFormView{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 50%;
}
.nameInput {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
.checkoutFormView {
    background-color: #b3b3b3;
    display: flex;
    flex-direction: row;
    margin: 10px;
    width: 50%;
    border: 10px;
    border-radius: 20px;
}

.orderInfo{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 50%;
    height: 100%;
    overflow-y:auto;
    
}

.orderInfo h1,h2 {
    margin: 5px;
    align-items: center;
}
.orderInfo p {
    margin: 5px;
    font-size: 25px;
}

.personalInfo {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 50%;
    height: 100%;
}
 
.personalInfo h1,h2 {
    margin: 5px;
    align-items: center;
}
.personalInfo p {
    margin: 5px;
    font-size: 25px;
}

.finalCheckOutButton {
    margin: 10px;
    padding: 10px;
    background-color: #707070;
    color: white;
    border-width: 3px;
    border-color: rgb(0, 0, 0);
    border-radius: 20px;
    border-style: solid;


}


