<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fontawesome/5.15.1/css/all.min.css">
    <title>After School Club</title>
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
</head>

<body class="htmlBody">
    <div id="app1">
        <h1 class="title">After School Clubs</h1>
        <div class="checkoutAndSearch">
            <button v-if="cartEmpty" v-on:click="toggleCheckOutMenu" class="checkoutButton">
                {{cartItemCount}}
                <i class="fa-solid fa-cart-shopping"></i>
                Checkout
            </button>
            <div v-else class="checkOutButtonAndMessage">
                <button class="checkoutButton" disabled>
                    {{cartItemCount}}
                    <i class="fa-solid fa-cart-shopping"></i>
                    Checkout
                </button>
                <p>Add items to cart in order to view checkout.</p>
            </div>
            <input type="text" placeholder="Search clubs..." class="searchBar" v-show="!checkOutMenu" v-model.trim="searchQuery">
        </div>
        <div v-show="!checkOutMenu" class="sortByOrderBy">
            <div class="sortBy">
                <h1>Sort By:</h1>
                <p @click="sortByTitle">⍺ Title</p>
                <p @click="sortByPrice">£ Price</p>
                <p @click="sortByLocation">🏔 Location</p>
                <p @click="sortByAvailability">⇶ Availability</p>
            </div>
            <div class="orderBy">
                <h1>Order By:</h1>
                <p @click="orderByAscending">⇧ Ascending</p>
                <p @click="orderByDescending">⇩ Descending</p>
            </div>
        </div>
        <div v-if="!checkOutMenu" class="mainMenu">
            <div v-show="!searchIsEmpty">   
                <div v-for="item of searchItems" class="itembox">
                    <h1 class="itemTitle">{{item.subject}}</h1>
                    <div class="itemImgDetails">
                        <figure>
                            <img v-bind:src="item.image">
                        </figure>
                        <div class="itemDetails">
                            <p class="itemLocation">Location:</p>
                            <p class="itemLocation">{{item.location}}</p>
                            <p class="itemPrice">Price:</p>
                            <p class="itemPrice">{{item.currency}}{{item.price}}</p>
                            <div class="addCartButtonAndMessage">
                                <button @click="addToCart(item.id)" class="itemButton" v-if="canAddToCart(item)">Add to
                                    cart</button>
                                <p v-if="item.availableSeats === seatCount(item.id)">Seats sold out!</p>
                                <p v-else-if="item.availableSeats - seatCount(item.id) < 5">Only {{item.availableSeats - seatCount(item.id)}} seats left!</p>
                                <p v-else>Buy now!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-show="searchIsEmpty" v-for="item of allClubs" class="itembox">
                <h1 class="itemTitle">{{item.subject}}</h1>
                <div class="itemImgDetails">
                    <figure>
                        <img v-bind:src="item.image">
                    </figure>
                    <div class="itemDetails">
                        <p class="itemLocation">Location:</p>
                        <p class="itemLocation">{{item.location}}</p>
                        <p class="itemPrice">Price:</p>
                        <p class="itemPrice">{{item.currency}}{{item.price}}</p>
                        <div class="addCartButtonAndMessage">
                            <button @click="addToCart(item.id)" class="itemButton" v-if="canAddToCart(item)">Add to
                                cart</button>
                            <p v-if="item.availableSeats === seatCount(item.id)">Seats sold out!</p>
                            <p v-else-if="item.availableSeats - seatCount(item.id) < 5">Only {{item.availableSeats -
                                seatCount(item.id)}} seats left!</p>
                            <p v-else>Buy now!</p>
                        </div>

                    </div>
                </div>


            </div>
        </div>
        <div v-else class="checkoutPage">
            <h1 id="cartTitle">Cart:</h1>

            <div class="cartItemsHolder">
                <div v-for="cartitem of uniqueCartItems" class="itembox">
                    <h1 class="itemTitle">{{cartitem.subject}}</h1>
                    <div class="itemImgDetails">
                        <figure>
                            <img v-bind:src="cartitem.image">
                        </figure>
                        <div class="itemDetails">
                            <p class="itemLocation">Location:</p>
                            <p class="itemLocation">{{cartitem.location}}</p>
                            <p class="itemPrice">Price:</p>
                            <p class="itemPrice">{{cartitem.currency}}{{cartitem.price}}</p>
                            <p class="itemQuantity">Quantity: {{seatCount(cartitem.id)}}</p>
                            <button @click="removeFromCart(cartitem.id)" class="itemButton">Remove from cart</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="checkoutForm">
                <div class="checkoutFormInput">
                    <h1>Checkout:</h1>
                    <h2>Enter your details:</h2>
                    <div class="nameInput">
                        <h2>First Name:</h2>
                        <input v-model.trim="order.firstName" type="text">
                        <h2>Last Name:</h2>
                        <input v-model.trim="order.lastName" type="text">
                    </div>
                    <h2>Telephone:</h2>
                    <input v-model.number="order.telephone" type="number">
                    <h2>Email</h2>
                    <input v-model="order.email" type="email">
                    <h2>City:</h2>
                    <input v-model="order.city">
                    <h2>Postcode:</h2>
                    <input v-model="order.postcode">
                    <button class="finalCheckOutButton" @click="checkout">Checkout</button>
                </div>
                <div class="checkoutFormView">
                    <div class="orderInfo">
                        <h1>Order Information:</h1>
                        <h2>Seats purchased:</h2>
                        <p v-for="cartitem of uniqueCartItems"> - {{cartitem.subject}} x {{seatCount(cartitem.id)}}</p>
                        <p>Total cost: £{{fullprice}}</p>
                    </div>
                    <div class="personalInfo">
                        <h1>Personal Information:</h1>
                        <h2>Full Name:</h2>
                        <p>{{order.firstName}} {{order.lastName}}</p>
                        <h2>Telephone:</h2>
                        <p>{{order.telephone}}</p>
                        <h2>Email:</h2>
                        <p>{{order.email}}</p>
                        <h2>City:</h2>
                        <p>{{order.city}}</p>
                        <h2>Postcode:</h2>
                        <p>{{order.postcode}}</p>

                    </div>

                </div>
            </div>
        </div>

    </div>

    <script src="products.js">
        
    </script>
</body>

</html>