<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>After School Club</title>
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
</head>

<body class="htmlBody">
    <div id="app1">
        <h1 class="title">After School Clubs</h1>
        <div class="checkoutAndSearch">
            <button v-if="cartEmpty" v-on:click="toggleCheckOutMenu" class="checkoutButton">
                {{cartItemCount}}
                <i class="fa-solid fa-cart-shopping"></i>
                Checkout
            </button>
            <div v-else class="checkOutButtonAndMessage">
                <button class="checkoutButton" disabled>
                    {{cartItemCount}}
                    <i class="fa-solid fa-cart-shopping"></i>
                    Checkout
                </button>
                <p>Add items to cart in order to view checkout.</p>
            </div>
            <input type="text" placeholder="Search clubs..." class="searchBar" v-show="!checkOutMenu"
                v-model.trim="searchQuery">
        </div>
        <div v-show="!checkOutMenu" class="sortByOrderBy">
            <div class="sortBy">
                <h1>Sort By:</h1>
                <p @click="sortByTitle">⍺ Title</p>
                <p @click="sortByPrice">£ Price</p>
                <p @click="sortByAvailability">⇶ Availability</p>
            </div>
            <div class="orderBy">
                <h1>Order By:</h1>
                <p @click="orderByAscending">⇧ Ascending</p>
                <p @click="orderByDescending">⇩ Descending</p>
            </div>
        </div>
        <div v-if="!checkOutMenu" class="mainMenu">
            <div v-show="!searchIsEmpty">
                <div v-for="item of searchItems" class="itembox">
                    <h1 class="itemTitle">{{item.subject}}</h1>
                    <div class="itemImgDetails">
                        <figure>
                            <img
                                v-bind:src="'https://fullstackcw-env.eba-u9jzwuup.eu-west-1.elasticbeanstalk.com/images/' + item.image">
                        </figure>
                        <div class="itemDetails">
                            <p class="itemLocation">Location:</p>
                            <p class="itemLocation">{{item.location}}</p>
                            <p class="itemPrice">Price:</p>
                            <p class="itemPrice">{{item.currency}}{{item.price}}</p>
                            <div class="addCartButtonAndMessage">
                                <button @click="addToCart(item.id)" class="itemButton" v-if="canAddToCart(item)">Add to
                                    cart</button>
                                <button v-if="item.availableSeats === seatCount(item.id)" disabled>Add to cart</button>
                                <p v-if="item.availableSeats === seatCount(item.id)">Seats sold out!</p>
                                <p v-else-if="item.availableSeats - seatCount(item.id) < 5">Only {{item.availableSeats -
                                    seatCount(item.id)}} seats left!</p>
                                <p v-else>Buy now!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-show="searchIsEmpty" v-for="item of clubs" class="itembox">
                <h1 class="itemTitle">{{item.subject}}</h1>
                <div class="itemImgDetails">
                    <figure>
                        <img
                            v-bind:src="'https://fullstackcw-env.eba-u9jzwuup.eu-west-1.elasticbeanstalk.com/images/' + item.image">
                    </figure>
                    <div class="itemDetails">
                        <p class="itemLocation">Location:</p>
                        <p class="itemLocation">{{item.location}}</p>
                        <p class="itemPrice">Price:</p>
                        <p class="itemPrice">{{item.currency}}{{item.price}}</p>
                        <div class="addCartButtonAndMessage">
                            <button @click="addToCart(item.id)" class="itemButton" v-if="canAddToCart(item)">Add to
                                cart</button>
                            <button v-if="item.availableSeats === seatCount(item.id)" disabled>Add to cart</button>
                            <p v-if="item.availableSeats === seatCount(item.id)">Seats sold out!</p>
                            <p v-else-if="item.availableSeats - seatCount(item.id) < 5">Only {{item.availableSeats -
                                seatCount(item.id)}} seats left!</p>
                            <p v-else>Buy now!</p>
                        </div>

                    </div>
                </div>


            </div>
        </div>
        <div v-else class="checkoutPage">
            <h1 id="cartTitle">Cart:</h1>

            <div class="cartItemsHolder">
                <div v-for="cartitem of uniqueCartItems" class="itembox">
                    <h1 class="itemTitle">{{cartitem.subject}}</h1>
                    <div class="itemImgDetails">
                        <figure>
                            <img
                                v-bind:src="'https://fullstackcw-env.eba-u9jzwuup.eu-west-1.elasticbeanstalk.com/images/' + cartitem.image">
                        </figure>
                        <div class="itemDetails">
                            <p class="itemLocation">Location:</p>
                            <p class="itemLocation">{{cartitem.location}}</p>
                            <p class="itemPrice">Price:</p>
                            <p class="itemPrice">{{cartitem.currency}}{{cartitem.price}}</p>
                            <p class="itemQuantity">Quantity: {{seatCount(cartitem.id)}}</p>
                            <button @click="removeFromCart(cartitem.id)" class="itemButton">Remove from cart</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="checkoutForm">
                <div class="checkoutFormInput">
                    <h1>Checkout:</h1>
                    <h2>Enter your details:</h2>
                    <div class="nameInput">
                        <h2>First Name:</h2>
                        <input v-model.trim="order.firstName" type="text">
                        <h2>Last Name:</h2>
                        <input v-model.trim="order.lastName" type="text">
                    </div>
                    <h2>Telephone:</h2>
                    <input v-model.number="order.telephone" type="tel">
                    <h2>Email</h2>
                    <input v-model="order.email" type="email">
                    <h2>City:</h2>
                    <input v-model="order.city">
                    <h2>Postcode:</h2>
                    <input v-model="order.postcode">
                    <button class="finalCheckOutButton" @click="checkout">Checkout</button>
                </div>
                <div class="checkoutFormView">
                    <div class="orderInfo">
                        <h1>Order Information:</h1>
                        <h2>Seats purchased:</h2>
                        <p v-for="cartitem of uniqueCartItems"> - {{cartitem.subject}} x {{seatCount(cartitem.id)}}</p>
                        <p>Total cost: £{{fullprice}}</p>
                    </div>
                    <div class="personalInfo">
                        <h1>Personal Information:</h1>
                        <h2>Full Name:</h2>
                        <p>{{order.firstName}} {{order.lastName}}</p>
                        <h2>Telephone:</h2>
                        <p>{{order.telephone}}</p>
                        <h2>Email:</h2>
                        <p>{{order.email}}</p>
                        <h2>City:</h2>
                        <p>{{order.city}}</p>
                        <h2>Postcode:</h2>
                        <p>{{order.postcode}}</p>

                    </div>

                </div>
            </div>
        </div>

    </div>

    <script>
        let app1 = new Vue({
            el: '#app1',
            data: {
                clubs: [],
                order: {
                    firstName: "",
                    lastName: "",
                    telephone: "",
                    email: "",
                    city: "",
                    postcode: ""
                },
                sortBy: "title", //defualt sorting
                orderBy: "ascending", //default order
                checkOutMenu: false,
                cart: [],
                searchQuery: ""
            },
            methods: {
                fetchAllClubs: async function () {
                    try {
                        var allClubs = [];
                        var res = await fetch("https://fullstackcw-env.eba-u9jzwuup.eu-west-1.elasticbeanstalk.com/clubs", {
                            method: "GET",
                            headers: {
                                "Content-Type": "application/json",
                            },
                        });
                        if (!res.ok) {
                            // If the response status is not OK (200), log the error
                            throw new Error(`HTTP error! status: ${res.status}`);
                        }
                        var data = await res.json();
                        allClubs = data;
                        this.clubs = allClubs;
                    } catch (error) {
                        console.log("Error fetching clubs:", error);
                        return []; // Return empty array in case of error
                    }
                    if (this.sortBy == "title") {
                        allClubs.sort((a, b) => a.subject.localeCompare(b.subject));
                    } else if (this.sortBy == "price") {
                        allClubs.sort((a, b) => a.price - b.price);
                    } else if (this.sortBy == "availability") {
                        allClubs.sort((a, b) => a.availableSeats - b.availableSeats);
                    }
                    if (this.orderBy == "descending") {
                        allClubs.reverse();
                    }
                    this.clubs = allClubs;
                },
                canAddToCart: function (club) {
                    return club.availableSeats > this.seatCount(club.id);
                },
                addToCart: function (id) {
                    this.cart.push(id);
                    console.log("club with id " + id + " added to cart");
                },
                toggleCheckOutMenu: function () {
                    this.checkOutMenu = !this.checkOutMenu;
                    console.log("toggled checkout menu");
                },
                removeFromCart: function (id) {
                    const index = this.cart.indexOf(id);
                    if (index > -1) {
                        this.cart.splice(index, 1);
                    }
                    if (this.cart.length == 0) {
                        this.toggleCheckOutMenu();
                    }
                    console.log("club with id " + id + " removed from cart");
                },
                seatCount: function (id) {
                    let seatCount = 0;
                    for (let index = 0; index < this.cart.length; index++) {
                        if (this.cart[index] == id) {
                            seatCount++;
                        }
                    }
                    return seatCount;
                },
                checkout: async function () {
                    if (this.order.firstName == "" || this.order.lastName == "" || this.order.telephone == "" || this.order.email == "" || this.order.city == "" || this.order.postcode == "") {
                        alert("Please fill in all fields.");
                        return;
                    } else {
                        alert("Thank you for your purchase!");
                        console.log("checkout initiated");
                        var userOrder = {
                            firstName: this.order.firstName,
                            lastName: this.order.lastName,
                            telephone: this.order.telephone,
                            email: this.order.email,
                            city: this.order.city,
                            postcode: this.order.postcode,
                            cart: this.cart
                        };
                        const userData = JSON.stringify(userOrder);
                        try {
                            const response = await fetch("https://fullstackcw-env.eba-u9jzwuup.eu-west-1.elasticbeanstalk.com/saveOrder", {
                                method: "POST",
                                headers: {
                                    "Content-Type": "application/json"
                                },
                                body: userData
                            });
                            const result = await response.json();
                            console.log(result);
                            if (response.status == 200) {
                                alert("Order submitted successfully");
                                try {
                                    const response = await fetch("https://fullstackcw-env.eba-u9jzwuup.eu-west-1.elasticbeanstalk.com/updateAvailability", {
                                        method: "PUT",
                                        headers: {
                                            "Content-Type": "application/json"
                                        },
                                        body: JSON.stringify({
                                            cart: this.cart
                                        })
                                    });
                                    const result = await response.json();
                                    console.log(result);
                                    if (response.status == 200) {
                                        console.log("Club availabilities updated successfully");
                                        this.cart = [];
                                        this.order = {
                                            firstName: "",
                                            lastName: "",
                                            telephone: "",
                                            email: "",
                                            city: "",
                                            postcode: ""
                                        };
                                        this.fetchAllClubs(); //set the clubs availability to the updated availability
                                        this.toggleCheckOutMenu();
                                    } else {
                                        console.log("Club availabilities update failed, please try again.");
                                    }
                                } catch (error) {
                                    console.log(error);
                                }
                            } else {
                                alert("Order submission failed, please try again.");
                            }
                        } catch (error) {
                            console.log(error);
                        }
                    }
                },
                sortClubs: function () {
                    if (this.sortBy == "title") {
                        this.clubs.sort((a, b) => a.subject.localeCompare(b.subject));
                    } else if (this.sortBy == "price") {
                        this.clubs.sort((a, b) => a.price - b.price);
                    } else if (this.sortBy == "availability") {
                        this.clubs.sort((a, b) => a.availableSeats - b.availableSeats);
                    }
                    if (this.orderBy == "descending") {
                        this.clubs.reverse();
                    }
                },
                sortByTitle: function () {
                    this.sortBy = "title";
                    this.sortClubs();
                    console.log("sorted by title");
                },
                sortByPrice: function () {
                    this.sortBy = "price";
                    this.sortClubs();
                    console.log("sorted by price");
                },
                sortByAvailability: function () {
                    this.sortBy = "availability";
                    this.sortClubs();
                    console.log("sorted by availability");
                },
                orderByAscending: function () {
                    this.orderBy = "ascending";
                    this.sortClubs();
                    console.log("ordered by ascending");
                },
                orderByDescending: function () {
                    this.orderBy = "descending";
                    this.sortClubs();
                    console.log("ordered by descending");
                }
            },
            computed: {
                searchIsEmpty: function () {
                    if (this.searchQuery == "") {
                        return true;
                    } else {
                        return false;
                    }
                },
                searchItems: function () {
                    let searchItems = [];
                    for (let index = 0; index < this.clubs.length; index++) {
                        if (this.clubs[index].subject.toLowerCase().includes(this.searchQuery.toLowerCase())) {
                            searchItems.push(this.clubs[index]);
                        }
                    }
                    return searchItems;
                },
                cartItemCount: function () {
                    if (this.cart.length > 0) {
                        return this.cart.length;
                    } else {
                        return '';
                    }
                },
                cartEmpty: function () {
                    if (this.cart.length > 0) {
                        return true;
                    } else {
                        return false;
                    }
                },
                cartItems: function () {
                    let cartItems = [];
                    for (let index = 0; index < this.clubs.length; index++) {
                        for (let index2 = 0; index2 < this.cart.length; index2++) {
                            if (this.clubs[index].id == this.cart[index2]) {
                                cartItems.push(this.clubs[index]);
                            }
                        }
                    }
                    return cartItems;
                },
                uniqueCartItems: function () {
                    let uniqueCartItems = [];
                    for (let index = 0; index < this.cartItems.length; index++) {
                        if (!uniqueCartItems.includes(this.cartItems[index])) {
                            uniqueCartItems.push(this.cartItems[index]);
                        }
                    }
                    return uniqueCartItems;
                },
                fullprice: function () {
                    let fullprice = 0;
                    for (let index = 0; index < this.cartItems.length; index++) {
                        fullprice = fullprice + parseInt(this.cartItems[index].price);
                    }
                    return fullprice;
                }
            },
            created() {
                this.fetchAllClubs();
            }
        });
    </script>
</body>

</html>