<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- my css stylesheet link -->
    <link rel="stylesheet" type="text/css" href="styles.css" /> 
    <!-- fontawesome link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> 
    <title>After School Club</title>
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script> 
</head>

<body class="htmlBody">
    <div id="app1">
        <h1 class="title">After School Clubs</h1>
        <div class="checkoutAndSearch">
            <!-- checkout button that works when there is stuff in the cart -->
            <button v-if="cartEmpty" v-on:click="toggleCheckOutMenu" class="checkoutButton"> 
                {{cartItemCount}}
                <i class="fa-solid fa-cart-shopping"></i>
                Checkout
            </button>
            <div v-else class="checkOutButtonAndMessage">
                <!-- checkout button that is disabled when there is nothing in the cart -->
                <button class="checkoutButton" disabled> 
                    {{cartItemCount}}
                    <i class="fa-solid fa-cart-shopping"></i>
                    Checkout
                </button>
                <p>Add items to cart in order to view checkout.</p>
            </div>
            <!-- search bar that filters the clubs based on the subject name (search as you type with @input) -->
            <input type="text" placeholder="Search clubs..." class="searchBar" v-show="!checkOutMenu"
                v-model.trim="searchQuery" @input="search()"> 
        </div>
        <!-- sort and order options -->
        <div v-show="!checkOutMenu" class="sortByOrderBy"> 
            <div class="sortBy">
                <h1>Sort By:</h1>
                <p @click="sortByTitle">⍺ Title</p>
                <p @click="sortByPrice">£ Price</p>
                <p @click="sortByAvailability">⇶ Availability</p>
            </div>
            <div class="orderBy">
                <h1>Order By:</h1>
                <p @click="orderByAscending">⇧ Ascending</p>
                <p @click="orderByDescending">⇩ Descending</p>
            </div>
            <p>Sorted by {{this.sortBy}} in {{this.orderBy}} order </p>
        </div>
        <div v-if="!checkOutMenu" class="mainMenu">
            <!-- should there be any input into the search bar, we search against the collection and display those clubs (should they exist) in this section  -->
            <div v-show="!searchIsEmpty">
                <div v-for="item of searchedClubs" class="itembox">
                    <h1 class="itemTitle">{{item.subject}}</h1>
                    <div class="itemImgDetails">
                        <figure>
                            <!-- Images served statically through the images folder in directory that holds our app.js which is hosted via aws  -->
                            <img            
                                v-bind:src="'https://fullstackcw-env.eba-u9jzwuup.eu-west-1.elasticbeanstalk.com/images/' + item.image">
                        </figure>
                        <div class="itemDetails">
                            <p class="itemLocation">Location:</p>
                            <p class="itemLocation">{{item.location}}</p>
                            <p class="itemPrice">Price:</p>
                            <p class="itemPrice">{{item.currency}}{{item.price}}</p>
                            <div class="addCartButtonAndMessage">
                                <!-- if theres still space in the club we can still press the button -->
                                <button @click="addToCart(item.id)" class="itemButton" v-if="canAddToCart(item)">Add to
                                    cart</button>
                                    <!-- if there isn't any more space then the button is still visible however is disavled -->
                                <button v-if="item.availableSeats === seatCount(item.id)" disabled>Add to cart</button>
                                <p v-if="item.availableSeats === seatCount(item.id)">Seats sold out!</p>
                                <p v-else-if="item.availableSeats - seatCount(item.id) < 5">Only {{item.availableSeats -
                                    seatCount(item.id)}} seats left!</p>
                                <p v-else>Buy now!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- This is our main page full of all clubs being rendered here -->
            <div v-show="searchIsEmpty" v-for="item of clubs" class="itembox">
                <h1 class="itemTitle">{{item.subject}}</h1>
                <div class="itemImgDetails">
                    <figure>
                        <img
                            v-bind:src="'https://fullstackcw-env.eba-u9jzwuup.eu-west-1.elasticbeanstalk.com/images/' + item.image">
                    </figure>
                    <div class="itemDetails">
                        <p class="itemLocation">Location:</p>
                        <p class="itemLocation">{{item.location}}</p>
                        <p class="itemPrice">Price:</p>
                        <p class="itemPrice">{{item.currency}}{{item.price}}</p>
                        <div class="addCartButtonAndMessage">
                            <button @click="addToCart(item.id)" class="itemButton" v-if="canAddToCart(item)">Add to
                                cart</button>
                            <button v-if="item.availableSeats === seatCount(item.id)" disabled>Add to cart</button>
                            <p v-if="item.availableSeats === seatCount(item.id)">Seats sold out!</p>
                            <p v-else-if="item.availableSeats - seatCount(item.id) < 5">Only {{item.availableSeats -
                                seatCount(item.id)}} seats left!</p>
                            <p v-else>Buy now!</p>
                        </div>

                    </div>
                </div>


            </div>
        </div>
        <!-- Checkout page that shows the users cart and holds the form where the user can checkout -->
        <div v-else class="checkoutPage">
            <h1 id="cartTitle">Cart:</h1>

            <div class="cartItemsHolder">
                <div v-for="cartitem of uniqueCartItems" class="itembox">
                    <h1 class="itemTitle">{{cartitem.subject}}</h1>
                    <div class="itemImgDetails">
                        <figure>
                            <img
                                v-bind:src="'https://fullstackcw-env.eba-u9jzwuup.eu-west-1.elasticbeanstalk.com/images/' + cartitem.image">
                        </figure>
                        <div class="itemDetails">
                            <p class="itemLocation">Location:</p>
                            <p class="itemLocation">{{cartitem.location}}</p>
                            <p class="itemPrice">Price:</p>
                            <p class="itemPrice">{{cartitem.currency}}{{cartitem.price}}</p>
                            <p class="itemQuantity">Quantity: {{seatCount(cartitem.id)}}</p>
                            <button @click="removeFromCart(cartitem.id)" class="itemButton">Remove from cart</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="checkoutForm">
                <div class="checkoutFormInput">
                    <h1>Checkout:</h1>
                    <h2>Enter your details:</h2>
                    <div class="nameInput">
                        <h2>First Name:</h2>
                        <input v-model.trim="order.firstName">
                        <h2>Last Name:</h2>
                        <input v-model.trim="order.lastName">
                    </div>
                    <h2>Telephone:</h2>
                    <input v-model.number="order.telephone">
                    <h2>Email</h2>
                    <input v-model="order.email">
                    <h2>City:</h2>
                    <input v-model="order.city">
                    <h2>Postcode:</h2>
                    <input v-model="order.postcode">
                    <button class="finalCheckOutButton" @click="checkout">Checkout</button>
                </div>
                <div class="checkoutFormView">
                    <div class="orderInfo">
                        <h1>Order Information:</h1>
                        <h2>Seats purchased:</h2>
                        <p v-for="cartitem of uniqueCartItems"> - {{cartitem.subject}} x {{seatCount(cartitem.id)}}</p>
                        <p>Total cost: £{{fullprice}}</p>
                    </div>
                    <div class="personalInfo">
                        <h1>Personal Information:</h1>
                        <h2>Full Name:</h2>
                        <p>{{order.firstName}} {{order.lastName}}</p>
                        <h2>Telephone:</h2>
                        <p>{{order.telephone}}</p>
                        <h2>Email:</h2>
                        <p>{{order.email}}</p>
                        <h2>City:</h2>
                        <p>{{order.city}}</p>
                        <h2>Postcode:</h2>
                        <p>{{order.postcode}}</p>

                    </div>

                </div>
            </div>
        </div>

    </div>

    <script>
        let app1 = new Vue({
            el: '#app1',
            data: {
                // all clubs and searched clubs are stored in these arrays, updated when necessary by get functions /clubs and /search
                clubs: [],
                searchedClubs: [],
                order: {
                    firstName: "",
                    lastName: "",
                    telephone: "",
                    email: "",
                    city: "",
                    postcode: ""
                }, //order object that holds the users order details that we will send to the server to indert into the database
                sortBy: "Title", //defualt sorting
                orderBy: "Ascending", //default order
                checkOutMenu: false,
                cart: [], //our cart that holds the ids of the clubs that the user wants to purchase
                searchQuery: "" //search query that is used to search against the clubs
            },
            methods: {
                fetchAllClubs: async function () { // fetching all clubs in the database
                    try {
                        var allClubs = [];
                        var res = await fetch("https://fullstackcw-env.eba-u9jzwuup.eu-west-1.elasticbeanstalk.com/clubs", {
                            method: "GET",
                            headers: {
                                "Content-Type": "application/json",
                            },
                        });
                        if (!res.ok) {
                            // if the response status is not OK (200), log the error
                            throw new Error(`HTTP error! status: ${res.status}`);
                        }
                        var data = await res.json();
                        allClubs = data;
                        this.clubs = allClubs;
                    } catch (error) {
                        console.log("Error fetching clubs:", error);
                        return []; // return empty array in case of error
                    }
                    if (this.sortBy == "Title") {
                        allClubs.sort((a, b) => a.subject.localeCompare(b.subject));
                    } else if (this.sortBy == " Price") {
                        allClubs.sort((a, b) => a.price - b.price);
                    } else if (this.sortBy == "Availability") {
                        allClubs.sort((a, b) => a.availableSeats - b.availableSeats);
                    }
                    if (this.orderBy == "Descending") {
                        allClubs.reverse();
                    }
                    this.clubs = allClubs;
                },
                canAddToCart: function (club) {
                    return club.availableSeats > this.seatCount(club.id);
                },
                addToCart: function (id) {
                    this.cart.push(id);
                    console.log("club with id " + id + " added to cart");
                },
                toggleCheckOutMenu: function () {
                    this.checkOutMenu = !this.checkOutMenu;
                    console.log("toggled checkout menu");
                },
                removeFromCart: function (id) {
                    const index = this.cart.indexOf(id);
                    if (index > -1) {
                        this.cart.splice(index, 1);
                    }
                    if (this.cart.length == 0) {
                        this.toggleCheckOutMenu();
                    }
                    console.log("club with id " + id + " removed from cart");
                },
                seatCount: function (id) {
                    let seatCount = 0;
                    for (let index = 0; index < this.cart.length; index++) {
                        if (this.cart[index] == id) {
                            seatCount++;
                        }
                    }
                    return seatCount;
                },
                search: async function () {
                    if (this.searchQuery == "") { //if the search query is empty, we empty the searchedClubs array which in turn would clear the search results screen and return to all clubs 
                        this.searchedClubs = [];
                        return;
                    }
                    try {
                        const response = await fetch(`https://fullstackcw-env.eba-u9jzwuup.eu-west-1.elasticbeanstalk.com/search?searchQuery=${encodeURIComponent(this.searchQuery)}`, { //encodeURI included to be sure that special characters are encoded properly if they should be searched 
                            method: "GET",
                            headers: {
                                "Content-Type": "application/json"
                            },
                        });
                        const result = await response.json();
                        console.log(result);
                        if (response.status == 200) { //if the search was successful, we update the searchedClubs array with the search results
                            this.searchedClubs = result;
                        } else {
                            console.log("Search failed, please try again."); //other wise we log an error (whether it be a 404, no results found, or 500, server error)
                        }
                    } catch (error) {
                        console.log(error);
                    }

                },
                checkout: async function () {
                    const numberRegex = /^[0-9]*$/; //a number regular expression which checks that the telephone number is indeed a number
                    const emailRegex = /\S+@\S+\.\S+/; //an email regular expression which checks that the email is in the correct format (charactershere@charactershere.fullstopandchars)
                    if (this.order.firstName == "" || this.order.lastName == "" || this.order.telephone == "" || this.order.email == "" || this.order.city == "" || this.order.postcode == "") {
                        alert("Please fill in all fields.");
                        return;
                    } else if (this.order.firstName.length < 3 || this.order.lastName.length < 3) {
                        alert("Please enter a valid name. Must be above three characters.");
                        return;
                    } else if (numberRegex.test(this.order.telephone) == false || this.order.telephone.length < 10) {
                        alert("Please enter a valid telephone number. Must be in 07000000000 format");
                        return;
                    } else if (emailRegex.test(this.order.email) == false) {
                        alert("Please enter a valid email address. Must include @ and .");
                        return;
                    } else if (this.order.city.length < 3) {
                        alert("Please enter a valid city. Must be above three characters.");
                        return;
                    } else if (this.order.postcode.length < 5) {
                        alert("Please enter a valid postcode.");
                        return;
                    } else { //only when all fields are filled in and valid, we can proceed with the checkout
                        alert("Thank you for your purchase!");
                        console.log("checkout initiated");
                        var userOrder = {
                            firstName: this.order.firstName,
                            lastName: this.order.lastName,
                            telephone: this.order.telephone,
                            email: this.order.email,
                            city: this.order.city,
                            postcode: this.order.postcode,
                            cart: this.cart
                        }; //we collate the order details and the cart into a single object and stringify it to send to the server
                        const userData = JSON.stringify(userOrder);
                        try {
                            const response = await fetch("https://fullstackcw-env.eba-u9jzwuup.eu-west-1.elasticbeanstalk.com/saveOrder", {
                                method: "POST",
                                headers: {
                                    "Content-Type": "application/json"
                                },
                                body: userData //sent in the body of the post request
                            });
                            const result = await response.json();
                            console.log(result);
                            if (response.status == 200) { //only if the details were correctly saved into the orders collection in the database, we can proceed to update the availability of the clubs
                                alert("Order submitted successfully");
                                try {
                                    const response = await fetch("https://fullstackcw-env.eba-u9jzwuup.eu-west-1.elasticbeanstalk.com/updateAvailability", { // we send the cart of clubs to the server to update the availability of the relevant clubs
                                        method: "PUT",
                                        headers: {
                                            "Content-Type": "application/json"
                                        },
                                        body: JSON.stringify({ //the cart is sent in the body of the put request
                                            cart: this.cart
                                        })
                                    });
                                    const result = await response.json();
                                    console.log(result);
                                    if (response.status == 200) { //only when the availability of the clubs has been updated successfully, we can clear the cart and order details and return to the main menu for next user
                                        console.log("Club availabilities updated successfully");
                                        this.cart = [];
                                        this.searchQuery = "";
                                        this.searchedClubs = [];
                                        this.order = {
                                            firstName: "",
                                            lastName: "",
                                            telephone: "",
                                            email: "",
                                            city: "",
                                            postcode: ""
                                        };
                                        this.fetchAllClubs(); //retrieve all the updated clubs from the database
                                        this.toggleCheckOutMenu();
                                    } else {
                                        console.log("Club availabilities update failed, please try again.");
                                    }
                                } catch (error) {
                                    console.log(error);
                                }
                            } else {
                                alert("Order submission failed, please try again.");
                            }
                        } catch (error) {
                            console.log(error);
                        }
                    }
                },
                sortClubs: function () { //sorting function that sorts the clubs based on the sortBy and orderBy values
                    if (this.sortBy == "Title") {
                        this.clubs.sort((a, b) => a.subject.localeCompare(b.subject));
                        this.searchedClubs.sort((a, b) => a.subject.localeCompare(b.subject));
                    } else if (this.sortBy == "Price") {
                        this.clubs.sort((a, b) => a.price - b.price);
                        this.searchedClubs.sort((a, b) => a.price - b.price);
                    } else if (this.sortBy == "Availability") {
                        this.clubs.sort((a, b) => a.availableSeats - b.availableSeats);
                        this.searchedClubs.sort((a, b) => a.availableSeats - b.availableSeats);
                    }
                    if (this.orderBy == "Descending") {
                        this.clubs.reverse();
                        this.searchedClubs.reverse();
                    }
                },
                sortByTitle: function () {
                    this.sortBy = "Title";
                    this.sortClubs();
                    console.log("sorted by title");
                },
                sortByPrice: function () {
                    this.sortBy = "Price";
                    this.sortClubs();
                    console.log("sorted by price");
                },
                sortByAvailability: function () {
                    this.sortBy = "Availability";
                    this.sortClubs();
                    console.log("sorted by availability");
                },
                orderByAscending: function () {
                    this.orderBy = "Ascending";
                    this.sortClubs();
                    console.log("ordered by ascending");
                },
                orderByDescending: function () {
                    this.orderBy = "Descending";
                    this.sortClubs();
                    console.log("ordered by descending");
                }
            },
            computed: {
                searchIsEmpty: function () {
                    if (this.searchQuery == "") {
                        return true;
                    } else {
                        return false;
                    }
                },
                cartItemCount: function () {
                    if (this.cart.length > 0) {
                        return this.cart.length;
                    } else {
                        return '';
                    }
                },
                cartEmpty: function () {
                    if (this.cart.length > 0) {
                        return true;
                    } else {
                        return false;
                    }
                },
                cartItems: function () {
                    let cartItems = [];
                    for (let index = 0; index < this.clubs.length; index++) {
                        for (let index2 = 0; index2 < this.cart.length; index2++) {
                            if (this.clubs[index].id == this.cart[index2]) {
                                cartItems.push(this.clubs[index]);
                            }
                        }
                    }
                    return cartItems;
                },
                uniqueCartItems: function () {
                    let uniqueCartItems = [];
                    for (let index = 0; index < this.cartItems.length; index++) {
                        if (!uniqueCartItems.includes(this.cartItems[index])) {
                            uniqueCartItems.push(this.cartItems[index]);
                        }
                    }
                    return uniqueCartItems;
                },
                fullprice: function () {
                    let fullprice = 0;
                    for (let index = 0; index < this.cartItems.length; index++) {
                        fullprice = fullprice + parseInt(this.cartItems[index].price);
                    }
                    return fullprice;
                }
            },
            created() { //in the created lifecycle hook of a vue application, we fetch all the clubs from the database so that theyre ready to be displaued when the user first loads the page
                this.fetchAllClubs();
            }
        });
    </script>
</body>

</html>