<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fontawesome/5.15.1/css/all.min.css">
    <title>After School Club</title>
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
</head>

<body class="htmlBody">
    <div id="app1">
        <h1 class="title">After School Clubs</h1>
        <div class="checkoutAndSearch">
            <button v-if="cartEmpty" v-on:click="toggleCheckOutMenu" class="checkoutButton">
                {{cartItemCount}}
                <i class="fa-solid fa-cart-shopping"></i>
                Checkout
            </button>
            <div v-else class="checkOutButtonAndMessage">
                <button class="checkoutButton" disabled>
                    {{cartItemCount}}
                    <i class="fa-solid fa-cart-shopping"></i>
                    Checkout
                </button>
                <p>Add items to cart in order to view checkout.</p>
            </div>
            <input type="text" placeholder="Search clubs..." class="searchBar" v-show="!checkOutMenu">
        </div>
        <div v-show="!checkOutMenu" class="sortByOrderBy">
            <div class="sortBy">
                <h1>Sort By:</h1>
                <p @click="sortByTitle">⍺ Title</p>
                <p @click="sortByPrice">£ Price</p>
                <p @click="sortByLocation">🏔 Location</p>
                <p @click="sortByAvailability">⇶ Availability</p>
            </div>
            <div class="orderBy">
                <h1>Order By:</h1>
                <p @click="orderByAscending">⇧ Ascending</p>
                <p @click="orderByDescending">⇩ Descending</p>
            </div>
        </div>
        <div v-if="!checkOutMenu" class="mainMenu">
            <div>   
                
            </div>
            <div v-for="item of allClubs" class="itembox">
                <h1 class="itemTitle">{{item.subject}}</h1>
                <div class="itemImgDetails">
                    <figure>
                        <img v-bind:src="item.image">
                    </figure>
                    <div class="itemDetails">
                        <p class="itemLocation">Location:</p>
                        <p class="itemLocation">{{item.location}}</p>
                        <p class="itemPrice">Price:</p>
                        <p class="itemPrice">{{item.currency}}{{item.price}}</p>
                        <div class="addCartButtonAndMessage">
                            <button @click="addToCart(item.id)" class="itemButton" v-if="canAddToCart(item)">Add to
                                cart</button>
                            <p v-if="item.availableSeats === seatCount(item.id)">Seats sold out!</p>
                            <p v-else-if="item.availableSeats - seatCount(item.id) < 5">Only {{item.availableSeats -
                                seatCount(item.id)}} seats left!</p>
                            <p v-else>Buy now!</p>
                        </div>

                    </div>
                </div>


            </div>
        </div>
        <div v-else class="checkoutPage">
            <h1 id="cartTitle">Cart:</h1>

            <div class="cartItemsHolder">
                <div v-for="cartitem of cartItems" class="itembox">
                    <h1 class="itemTitle">{{cartitem.subject}}</h1>
                    <div class="itemImgDetails">
                        <figure>
                            <img v-bind:src="cartitem.image">
                        </figure>
                        <div class="itemDetails">
                            <p class="itemLocation">Location:</p>
                            <p class="itemLocation">{{cartitem.location}}</p>
                            <p class="itemPrice">Price:</p>
                            <p class="itemPrice">{{cartitem.currency}}{{cartitem.price}}</p>
                            <button @click="removeFromCart(cartitem.id)" class="itemButton">Remove from cart</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="checkoutForm">
                <div class="checkoutFormInput">
                    <h1>Checkout:</h1>
                    <h2>Enter your details:</h2>
                    <div class="nameInput">
                        <h2>First Name:</h2>
                        <input v-model.trim="order.firstName" type="text">
                        <h2>Last Name:</h2>
                        <input v-model.trim="order.lastName" type="text">
                    </div>
                    <h2>Telephone:</h2>
                    <input v-model.number="order.telephone" type="number">
                    <h2>Email</h2>
                    <input v-model="order.email" type="email">
                    <h2>City:</h2>
                    <input v-model="order.city">
                    <h2>Postcode:</h2>
                    <input v-model="order.postcode">
                    <button class="finalCheckOutButton" @click="checkout">Checkout</button>
                </div>
                <div class="checkoutFormView">
                    <div class="orderInfo">
                        <h1>Order Information:</h1>
                        <h2>Seats purchased:</h2>
                        <p v-for="cartitem of cartItems"> - {{cartitem.subject}}</p>
                        <p>Total cost: £{{fullprice}}</p>
                    </div>
                    <div class="personalInfo">
                        <h1>Personal Information:</h1>
                        <h2>Full Name:</h2>
                        <p>{{order.firstName}} {{order.lastName}}</p>
                        <h2>Telephone:</h2>
                        <p>{{order.telephone}}</p>
                        <h2>Email:</h2>
                        <p>{{order.email}}</p>
                        <h2>City:</h2>
                        <p>{{order.city}}</p>
                        <h2>Postcode:</h2>
                        <p>{{order.postcode}}</p>

                    </div>

                </div>
            </div>
        </div>

    </div>

    <script>
        let app1 = new Vue({
            el: '#app1',
            data: {
                clubs: [
                    {
                        id: 1,
                        subject: 'Maths',
                        location: 'Hendon Central Library',
                        currency: '£',
                        price: '40',
                        image: '../images/calc.png',
                        availableSeats: 10
                    },
                    {
                        id: 2,
                        subject: 'English',
                        location: 'Brent Cross Nursery',
                        currency: '£',
                        price: '60',
                        image: '../images/book.svg',
                        availableSeats: 1
                    },
                    {
                        id: 3,
                        subject: 'Science',
                        location: 'Golders Green High School',
                        currency: '£',
                        price: '45',
                        image: '../images/atom.png',
                        availableSeats: 15
                    },
                    {
                        id: 4,
                        subject: 'Art',
                        location: 'Hampstead Heath Centre',
                        currency: '£',
                        price: '30',
                        image: '../images/paint.svg',
                        availableSeats: 3
                    },
                    {
                        id: 5,
                        subject: 'Music',
                        location: 'Finchley Music School',
                        currency: '£',
                        price: '50',
                        image: '../images/music.svg',
                        availableSeats: 10
                    },
                    {
                        id: 6,
                        subject: 'Drama',
                        location: 'London Bridge Theatre',
                        currency: '£',
                        price: '35',
                        image: '../images/drama.svg',
                        availableSeats: 15
                    }
                ],
                order: {
                    firstName: "",
                    lastName: "",
                    telephone: "",
                    email: "",
                    city: "",
                    postcode: ""
                },
                sortBy: "",
                orderBy: "",
                checkOutMenu: false,
                cart: [],
            },
            methods: {
                canAddToCart: function (club) {
                    return club.availableSeats > this.seatCount(club.id);
                },
                addToCart: function (id) {
                    this.cart.push(id);
                    console.log("added to cart");
                },
                toggleCheckOutMenu: function () {
                    this.checkOutMenu = !this.checkOutMenu;
                    console.log("toggled checkout menu");
                },
                removeFromCart: function (id) {
                    const index = this.cart.indexOf(id);
                    if (index > -1) {
                        this.cart.splice(index, 1);
                    }
                    if (this.cart.length == 0) {
                        this.toggleCheckOutMenu();
                    }
                    console.log("removed from cart");
                },
                seatCount: function (id) {
                    let seatCount = 0;
                    for (let index = 0; index < this.cart.length; index++) {
                        if (this.cart[index] == id) {
                            seatCount++;
                        }
                    }
                    return seatCount;
                },
                checkout: function () {
                    if (this.order.firstName == "" || this.order.lastName == "" || this.order.telephone == "" || this.order.email == "" || this.order.city == "" || this.order.postcode == "") {
                        alert("Please fill in all fields.");
                        return;
                    } else {
                        alert("Thank you for your purchase!");
                        console.log("checkout");
                        console.log(this.order.firstName);
                        console.log(this.cartItems.length);
                        console.log(this.fullprice);
                        this.cart = [];
                        this.order = {
                            firstName: "",
                            lastName: "",
                            telephone: "",
                            email: "",
                            city: "",
                            postcode: ""
                        };
                        for (int = 0; int < this.clubs.length; int++) {
                            this.clubs[int].availableSeats = this.clubs[int].availableSeats - this.seatCount(this.clubs[int].id);
                        }
                        this.toggleCheckOutMenu();
                    }
                },
                sortByTitle: function () {
                    this.sortBy = "title";
                    console.log("sorted by title");
                },
                sortByPrice: function () {
                    this.sortBy = "price";
                    console.log("sorted by price");
                },
                sortByLocation: function () {
                    this.sortBy = "location";
                    console.log("sorted by location");
                },
                sortByAvailability: function () {
                    this.sortBy = "availability";
                    console.log("sorted by availability");
                },
                orderByAscending: function () {
                    this.orderBy = "ascending";
                    console.log("ordered by ascending");
                },
                orderByDescending: function () {
                    this.orderBy = "descending";
                    console.log("ordered by descending");
                }
            },
            computed: {
                cartItemCount: function () {
                    if (this.cart.length > 0) {
                        return this.cart.length;
                    } else {
                        return '';
                    }
                },
                cartEmpty: function () {
                    if (this.cart.length > 0) {
                        return true;
                    } else {
                        return false;
                    }
                },
                cartItems: function () {
                    let cartItems = [];
                    for (let index = 0; index < this.clubs.length; index++) {
                        for (let index2 = 0; index2 < this.cart.length; index2++) {
                            if (this.clubs[index].id == this.cart[index2]) {
                                cartItems.push(this.clubs[index]);
                            }
                        }
                    }
                    return cartItems;
                },
                uniqueCartItems: function () {
                    let uniqueCartItems = [];
                    for (let index = 0; index < this.cartItems.length; index++) {
                        if (!uniqueCartItems.includes(this.cartItems[index])) {
                            uniqueCartItems.push(this.cartItems[index]);
                        }
                    }
                    return uniqueCartItems;
                },
                fullprice: function () {
                    let fullprice = 0;
                    for (let index = 0; index < this.cartItems.length; index++) {
                        fullprice = fullprice + parseInt(this.cartItems[index].price);
                    }
                    return fullprice;
                },
                allClubs: function () {
                    let allClubs = this.clubs;
                    if (this.sortBy == "title") {
                        allClubs.sort((a, b) => a.subject.localeCompare(b.subject));
                    } else if (this.sortBy == "price") {
                        allClubs.sort((a, b) => a.price - b.price);
                    } else if (this.sortBy == "location") {
                        allClubs.sort((a, b) => a.location.localeCompare(b.location));
                    } else if (this.sortBy == "availability") {
                        allClubs.sort((a, b) => a.availableSeats - b.availableSeats);
                    }
                    if (this.orderBy == "ascending") {
                        allClubs.reverse();
                    }
                    return allClubs;
                }

            }
        })
    </script>
</body>

</html>